<div id="seam-stitch-<%= seam_stitch.id %>-branch-controls" class="seam-stitch-branch-controls">
  <button type="button" id="seam-stitch-<%= seam_stitch.id %>-add-branch-button">Create Branch</button>
</div>
